<div class="card">
        <div class="card-body">
          <h4 class="card-title">Profil Sayfası</h4>
          <p class="card-text">Hesabınızla ilgili işlemleri bu sayfadan yapabilirsiniz.</p>
          <form ng-submit="sifreGuncelle()">
                <div class="form-group">
                    <label for="email">Email Adresi:</label>
                    <input type="email" class="form-control" id="email" placeholder="{{profil.email}}" ng-model="profil.email" disabled>
                </div>
                <div class="form-group">
                    <label for="pwd">Mevcut Şifre:</label>
                    <input type="password" class="form-control" id="mevcutsifre" ng-model="profil.mevcutSifre">
                </div>
                <div class="form-group">
                    <label for="pwd">Yeni Şifre:</label>
                    <input type="password" class="form-control" id="yenisifre" ng-model="profil.yeniSifre">
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label"> {{profil.response}}
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Güncelle</button>
            </form>
        </div>
      </div>